{
    "id": "subject_id (optional)",
    "anat": "/path/to/input/image.nii.gz or /path/to/DICOM/dir",
    "orient": "leave blank unless orientation string is incorrect for image (3dinfo)",
    "do_n4": "(true/false) Perform N4 (improved nonparametric nonuniform normalization) bias field correction on input. Default: true",
    "do_hist_match": "(true/false) When skull-stripping, use histogram matching to propagate template tissue segmentations onto the target image. Default: true",
    "reg_type": "(affine/rigid): When skull-stripping, register target to template affinely (allows scaling) or rigidly (no scaling). Default: affine",
}
